<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Consulta</h4>
                        <p class="category">Selecione o Voo para Listar as Masters</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-master-detail></app-master-detail>
            </div>
        </div>
    </div>
</div>