<div #mainContent class="main-content">
    <div class="container-fluid no-printable" *ngIf="activeSection === 'entry'">
        <app-title title="Uld tag" subTitle="Selecione o Voo para cadastrar ULD"></app-title>
        <!-- toolbar -->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <dx-toolbar>
                    <dxi-item location="before">
                        <div *dxTemplate>
                            <div id="panel1" style="display: flex; align-items: center;">
                                <div style="display: table-cell">Data do Voo&nbsp;</div>
                                <div style="display: table-cell">
                                    <dx-date-box [value]="filtroDataVoo" type="date" width="115"
                                        (onValueChanged)="onDataVooChanged($event)"></dx-date-box>
                                </div>
                                <div style="display: table-cell; width: 10px;">&nbsp;</div>
                                <div style="display: table-cell">
                                    <dx-drop-down-button [splitButton]="true" [useSelectMode]="false"
                                        text="Selecione o Voo" [icon]="icon" [items]="listaVoos"
                                        [selectedItemKey]="curVoo?.VooId" (onItemClick)="onItemClick($event)"
                                        displayExpr="text" keyExpr="vooId" [disabled]="!listaVoos || listaVoos.length === 0"
                                        [useSelectMode]="true" width="285px"></dx-drop-down-button>
                                </div>
                                <div style="display: table-cell; width: 10px;">&nbsp;</div>
                                <div style="display: table-cell">
                                    <dx-drop-down-button [splitButton]="true" [useSelectMode]="false"
                                        text="Selecione o Voo" [items]="listaTrechos"
                                        [selectedItemKey]="curTrecho?.Id" (onItemClick)="onTrechoItemClick($event)"
                                        displayExpr="AeroportoDestinoCodigo" keyExpr="Id" [disabled]="!listaTrechos || listaTrechos.length === 0"
                                        [useSelectMode]="true" width="85px"></dx-drop-down-button>
                                </div>
                            </div>
                        </div>
                    </dxi-item>
                    <dxi-item location="after">
                        <div *dxTemplate>
                            <dx-text-box [(value)]="newuldText" type="text" width="145" placeholder="Entre Nova ULD"
                                (onEnterKey)="AddRow($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="custom" message="Número ULD Invalido!"
                                        [validationCallback]="ValidarUldCampo" [reevaluate]="true">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </dxi-item>
                    <dxi-item location="after" widget="dxButton" [options]="plusIcon">
                    </dxi-item>
                    <dxi-item location="after" widget="dxButton" [options]="refreshIcon">
                    </dxi-item>

                </dx-toolbar>
            </div>
        </div>
        <!-- Grid -->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <dx-data-grid id="gridContainer" #gridContainer [dataSource]="uldLista" [hoverStateEnabled]="true"
                    [showBorders]="true" [columnAutoWidth]="true" [height]="470" width="100%" keyExpr="ULDLinha"
                    [masterDetail]="{ enabled: true, template: 'detail' }" (onRowInserting)="onGridRowInserting($event)"
                    (onRowInserted)="onGridRowInserted($event)" (onRowRemoving)="onGridRowRemoving($event)">
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-paging [pageSize]="11"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="false" [infoText]="'Página {0} de {1} ({2} itens)'"
                        [showInfo]="true" [visible]="true">
                    </dxo-pager>
                    <dxo-editing mode="row" [allowUpdating]="allowEdit()" [allowDeleting]="allowEdit()"
                        [selectTextOnEditStart]="true" [startEditAction]="'click'"></dxo-editing>
                    <dxi-column dataField="ULDLinha" caption="ULD" width="150" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="ULDCaracteristicaCodigo" caption="Caracteristica" [allowEditing]="true"
                        width="150"></dxi-column>
                    <dxi-column dataField="ULDId" caption="Id" [allowEditing]="true" width="110"></dxi-column>
                    <dxi-column dataField="ULDIdPrimario" caption="Primario" [allowEditing]="true" width="110">
                    </dxi-column>
                    <dxi-column dataField="CalculatedPeca" caption="Total Peças" [allowEditing]="false"
                        [calculateCellValue]='CalcularPecasGrid'></dxi-column>
                    <dxi-column dataField="CalculatedPeso" caption="Peso Total" [allowEditing]="false"
                        [calculateCellValue]='CalcularPesoTotalGrid' format="decimal" [editorOptions]="{
                            format: 'decimal',
                            precision: 3,
                            showClearButton: true }">
                        <dxo-format type="fixedPoint" [precision]="3"></dxo-format>
                    </dxi-column>

                    <div *dxTemplate="let item of 'detail'">
                        <div class="master-detail-caption">Master(s) Associados</div>
                        <dx-data-grid [dataSource]="item.data.ULDs" [showBorders]="true"
                            (onRowInserting)="onRowInserting($event, item.data)" (onRowInserted)="onRowInserted($event)"
                            (onRowUpdating)="onRowUpdating($event)" (onRowRemoving)="onRowRemoving($event)"
                            keyExpr="Id">
                            <dxo-editing mode="row" [allowUpdating]="allowEdit()" [selectTextOnEditStart]="true"
                                [startEditAction]="'click'" [allowDeleting]="allowEdit()" [allowAdding]="allowEdit()">
                            </dxo-editing>
                            <dxo-selection [selectAllMode]="'allPages'" [showCheckBoxesMode]="'onClick'"
                                mode="multiple"></dxo-selection>
                            <dxi-column dataField="MasterNumero" caption="Master" width="180" cellTemplate="awbTemplate"
                                [editorOptions]="{ maxLength: 12, mask: 'AAA-AAAAAAAA' }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <!-- <dxi-validation-rule type="custom" message="Numero do Master invalido!"
                                    [validationCallback]="ValidarMasterNumero">
                                </dxi-validation-rule> -->
                                <div *dxTemplate="let data of 'awbTemplate'">
                                    {{ data.value | master }}
                                </div>
                            </dxi-column>
                            <dxi-column dataField="UldCaracteristicaCodigo" [visible]="false"></dxi-column>
                            <dxi-column dataField="UldId" [visible]="false"></dxi-column>
                            <dxi-column dataField="UldIdPrimario" [visible]="false"></dxi-column>
                            <dxi-column dataField="QuantidadePecas" Caption="Peças" dataType="number" width="110">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="Peso" width="110" dataType="number" format="decimal" [editorOptions]="{
                                format: 'decimal',
                                precision: 3,
                                showClearButton: true }">
                                <dxo-format type="fixedPoint" [precision]="3"></dxo-format>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="PesoUnidade" width="110" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="UsuarioCriacao" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="DataCricao" [allowEditing]="false" width="180"></dxi-column>
                        </dx-data-grid>
                    </div>
                </dx-data-grid>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <dx-button stylingMode="contained" text="Verificar Voo" type="normal" [width]="140" icon="check"
                    (onClick)="onVisualizarSumario($event)" [disabled]="!curVoo || curVoo.Vooid == -1">
                </dx-button>
            </div>
        </div>
        <!-- grid -->
    </div>
    <div id="mainContent" class="container-fluid printable" *ngIf="activeSection === 'summary'">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Uld sumário</h4>
                        <p class="category">Resumo quantidade e peso Vs. alocação aeronave</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <app-masteruldsumario #sumario [uldLista]="summaryList"></app-masteruldsumario>
            </div>
        </div>
        <div class="row no-printable">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <dx-button stylingMode="contained" text="Voltar" type="normal" [width]="140" icon="back"
                    (onClick)="goBack()">
                </dx-button>&nbsp;
                <dx-button stylingMode="contained" text="Imprimir" type="normal" [width]="140" icon="print"
                    (onClick)="print()">
                </dx-button>
            </div>
        </div>
    </div>
</div>