<div class="sidebar-wrapper">
    <div class="logo">
        <a [routerLink]="" class="simple-text">
            <div class="logo-img">
                <img [src]="imageUrl"/>
            </div>
            {{company}}
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li class="is-mobile separator hidden-lg hidden-md"></li>

        <li class="is-mobile">
            <a [routerLink]="" class="dropdown-toggle" data-toggle="dropdown" (click)="logout()">
                <i class="fa fa-power-off"></i>
				<p class="hidden-lg hidden-md">Sair</p>
            </a>
        </li>
    </ul>
</div>