<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Usuários do Sistema</h4>
                        <p class="category">Lista de usuários</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dx-data-grid id="gridContainer" #dataGrid [dataSource]="usuarios" keyExpr="UsuarioId"
                    [hoverStateEnabled]="true" [showBorders]="true" [columnAutoWidth]="true" [height]="400"
                    (onRowUpdating)="onRowUpdating($event)" (onRowInserting)="onRowInserting($event)"
                    (onToolbarPreparing)="onToolbarPreparing($event)" (onEditorPreparing)="onEditorPreparing($event)"
                    (onRowPrepared)="onRowPrepared($event)">
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true">
                        <dxo-popup title="Editar/Incluir Usuario" [showTitle]="false" [width]="700" [height]="655">
                        </dxo-popup>
                        <dxo-form>
                            <dxi-item itemType="group" caption="Informações do Usuário" [colCount]="2" [colSpan]="2">
                                <dxi-item dataField="Account" [colCount]="1" [colSpan]="2">
                                </dxi-item>
                                <dxi-item dataField="Nome" [editorOptions]="{ maxLength: 30 }">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="Sobrenome" [editorOptions]="{ maxLength: 30 }">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="Email" [editorOptions]="{ maxLength: 255 }">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                    <dxi-validation-rule type="email" message="Email Invalido"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="CompanhiaId">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" caption="Certificado Digital" [colCount]="1" [colSpan]="2">
                                <dxi-item dataField="CertificadoDigitalId">
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" caption="Permissões" [colCount]="2" [colSpan]="2">
                                <dxi-item dataField="AlteraCompanhia"></dxi-item>
                                <dxi-item dataField="AcessoUsuarios"></dxi-item>
                                <dxi-item dataField="AcessoClientes"></dxi-item>
                                <dxi-item dataField="AcessoCompanhias"></dxi-item>
                                <dxi-item *ngIf="newrowBotao" dataField="Bloqueado"></dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                <dxi-item *ngIf="newrowBotao" itemType="button" [buttonOptions]="buttonOptionsExcluir">
                                </dxi-item>
                                <dxi-item *ngIf="newrowBotao" itemType="button" [buttonOptions]="buttonOptions">
                                </dxi-item>
                            </dxi-item>
                        </dxo-form>
                    </dxo-editing>
                    <dxi-column type="buttons" caption="Editar" width="50">
                        <dxi-button name="edit" hint="Editar" icon="edit"></dxi-button>
                    </dxi-column>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxi-column dataField="UsuarioID" [width]="70" caption="Id" [visible]="false"></dxi-column>
                    <dxi-column dataField="Account" caption="Conta" [width]="170"></dxi-column>
                    <dxi-column dataField="Nome" [width]="150"></dxi-column>
                    <dxi-column dataField="Sobrenome" [width]="150"></dxi-column>
                    <dxi-column dataField="Email" [width]="220"></dxi-column>
                    <dxi-column dataField="CompanhiaId" caption="Companhia Aérea" [width]="170">
                        <dxo-lookup [dataSource]="cias" displayExpr="Nome" valueExpr="CiaId">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="CertificadoDigitalId" caption="Certificado Digital" [width]="560">
                        <dxo-lookup [dataSource]="certificados" displayExpr="nome" valueExpr="id">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="AlteraCompanhia" [width]="125" dataType="boolean"></dxi-column>
                    <dxi-column dataField="AcessoUsuarios" [width]="125" dataType="boolean"></dxi-column>
                    <dxi-column dataField="AcessoClientes" [width]="125" dataType="boolean"></dxi-column>
                    <dxi-column dataField="AcessoCompanhias" [width]="125"dataType="boolean"></dxi-column>
                    <dxi-column dataField="DataCriacao" [width]="185"></dxi-column>
                    <dxi-column dataField="Bloqueado" [width]="125"></dxi-column>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>