::ng-deep .dx-data-row .word-wrap,
.word-wrap {
    word-wrap: break-word;
    white-space: normal !important;
}

.text-style {
    white-space: pre-wrap
}

.autocomplete-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.third-party-on {
    visibility: visible;
    /* display: block; */
}

.third-party-off {
    visibility: hidden;
    /* display: none; */
}

::ng-deep .dx-switch-on-value .dx-switch-handle:before {
    background-color: blue!important;
}
::ng-deep .dx-switch-handle:before {
    background-color: #ddd!important;
}

.import-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Target the internal input element of the dx-text-area */
#myTextArea ::ng-deep .dx-texteditor-input {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow-x: auto;    /* Displays a horizontal scrollbar when content overflows */
}

/* For modern Angular versions (v15+) or if ViewEncapsulation.None is used */
#myTextArea .dx-texteditor-input {
  white-space: nowrap;
  overflow-x: auto;
}

.import-footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}