.form-between-lines {
    margin-bottom: 15px;
}

.section-division {
    padding-top: 15px;
    border-top: 1px solid lightgray;
}

.section-title {
    color: gray;
    margin: 0px 0 10px !important;
}